<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Madlibs{% endblock %}</title>
  </head>
  <body>
    {% block content %}
    <h1>Madlibs</h1>
    <form action="/story">
      <ul>
        {% for prompt in story.prompts %}
          <li>{{prompt}} <input type="text" name={{prompt}}></li>
        {% endfor %}
      </ul>
      <button>Submit</button>
    </form>
    {% endblock %}
  </body>
</html>
